
/*LAYOUT DESKTOP */

#topo{
    background-color: #ffbb33;
    height: 31px;
    width:100%;
}

#topo img{
    width:20px;
    margin-left: 44.5%;
    padding-top: 4px;
}

#topo p {
    margin-left: 46%;
    margin-top: -23px;
    color: black;
    font-size: 19px;
}

#corpo img{
    width: 205.4%;
    margin-left: -10px;
}

#itens {
    background-color:#EDEDED;
}

#bola {
    padding-top: 20px;
}

#desktop {
    margin-top: 17px;
}

#text {
    margin-top: -74px;
    margin-left: 102px;
}

#itens .col-md-4 {
    margin-left: 11%;
}

#last-text{
    margin-top: -52px;
    margin-left: 102px;
}

#footer {
    background-color:#333333;
    height: 402px;
    
}

#footer p {
    text-align: center;
    margin-top: 9px;
    margin-left: 38%;
}

#footer img{
    margin-left: 38%;
}

#footer .col-md-12{
    margin-top: 70px;
    margin-left: 3%;
}

#line {
    margin-left: 20%;
}

#text-footer{
    margin-left: -1% !important;
}

#secondText-footer{
    margin-left: 3% !important;
}

#thirdText-footer{
    margin-left: 17% !important;
}

#lastText-footer{
    margin-left: -9.5% !important;
}

a{
    color: #e6b800 !important;
    margin-left: 39%;
}


#title{
    margin-top: 3%;
    margin-left: 30%;
}

#title p{
    font-size: 32px;
}

#extra{
    margin-left: 40%;
    margin-top: -11%;
    color: #ffbb33 !important;
    font-weight: 900;
}

#first-card{
    background-color:#D9D8D6;
    border-radius: 6px;
    margin-left: 18%;
    height: 68px;
}

#espn {
    margin-left: 26%;
    margin-top: 5%;
}

section{
    height: 319px;
    margin-top: 1%;
    margin-left: 5% !important;
}

#line-items{
    background-color: #EBEDEF;
    margin-top: 4%;
    margin-left: -2.5%;
    width: 105%;
    height: 126%;
}

#nfl{
    width: 13%;
    margin-top: 2%;
    margin-left: 5%;
}

#nba {
    width: 20%;
}

#usOpen{
    width: 17%;
    margin-left: 2%;
}

#laLiga{
    width: 14%;
    margin-top: 3%;
    margin-left: 4%;
}

#premier {
    width: 13%;
    margin-left: 4%;
}

#last-card {
    background-color: #D9D8D6;
    border-radius: 6px;
    width: 106%;
    margin-left: -3%;
    height: 99%
}

#second-card{
    background-color:#D9D8D6;
    border-radius: 6px;
    margin-left: 1%;
    height: 68px;
}

#watchEspn{
    margin-top: 1%;
    margin-left: 63%;
}

#text-article{
    margin-top: -12%;
    margin-left: 5%;
}

#espInterativo{
    margin-left: 20%;
    padding-top: 3%;
    width: 51%;
}

#line-items1 {
    background-color: #EBEDEF;
    margin-top: 4%;
    margin-left: -2.5%;
    width: 105%;
    height: 126%;
}

#champions{
    width: 24%;
    margin-left: 16%;
}

#brasileirao {
    margin-left: 15%;
    width: 20%;
}

#eplus{
    padding-left: 63%;
    padding-top: 1%;
}


 

/* LAYOUT RESPONSIVO */

@media only screen and (max-width: 768px) {

    #topo {
        height: 35px;
        position: fixed;
        z-index: 1;
    }
    #topo p {
        margin-left: 34%;
        margin-top: -25px;
        color: black;
        font-size: 19px;
    }

    #topo img {
        width: 24px;
        margin-left: 28%;
        padding-top: 4px;
    }

    #corpo img {
        width: 104.8%;
        height: 650px;
        opacity: 0.6;
    }

    #itens {
        height: 293px;
    }

    #footer{
        margin-left: -14px;
        margin-top: 8%;
    }

    #footer img {
        margin-left: 37%;
    }

    #footer p {
        text-align: center;
        margin-top: 9px;
        margin-left: 37%;
        text-align: justify;
    }

    #line {
        margin-left: 2% !important;
    }

    #text-footer {
        margin-left: 37% !important;
    }

    #secondText-footer {
        margin-left: 37% !important;
    }

    #thirdText-footer {
        margin-left: 37% !important;
    }

    #lastText-footer {
        margin-left: 37% !important;
    }

    #footer .col-md-12 {
        margin-top: 14px;
        margin-left: -53%;
    }

    a{
        margin-left: 37%;
    }

    #title {
        margin-top: 8%;
        margin-left: 13%;
    }

    #title p {
        font-size: 35px;
    }

    #extra{
        margin-left: 22%;
        margin-top: -14%;
        font-weight: 900;
        color: #ffbb33 !important;
        font-weight: 900;
    }

    section {
        height: 487px;
        margin-top: 1%;
        margin-left: 5% !important;
    }

    #first-card {
        background-color: #D9D8D6;
        border-radius: 6px;
        margin-left: 1%;
        height: 68px;
        width: 94%;
    }

    #second-card {
        background-color: #D9D8D6;
        border-radius: 6px;
        margin-left: 1%;
        height: 68px;
        margin-top: 46%;
        width: 94%;
    }

    #line-items1 {
        background-color: #EBEDEF;
        margin-top: 2%;
        margin-left: -2.5%;
        width: 105%;
        height: 126%;
    }

    #brasileirao {
        margin-left: 15%;
        width: 19.3%;
    }

    #champions {
        width: 22%;
        margin-left: 18%;
    }

    #eplus {
        padding-left: 68%;
        padding-top: 1%;
    }

    #text-article {
        margin-top: -12%;
        margin-left: 12%;
    }

    #watchEspn {
        margin-top: 1%;
        margin-left: 67%;
    }

   
}


/*@media only screen and (max-width: 693px) {
    #topo img{
        margin-left:43%;
    }
}